<div
  class="img-background relative min-h-screen flex items-center justify-start bg-gray-50 py-12 px-4 sm:px-6 lg:px-8 bg-gray-500 bg-no-repeat bg-cover relative items-center">
  <div class="absolute custom-gradient inset-0 z-1"></div>
  <div class="max-w-2xl w-full space-y-8 p-10 bg-white rounded-xl z-10">
      <img src="assets/logo/logo.svg">
      <div class="flex">
        <button type="submit"
        class="w-80 flex justify-center bg-amber-500 text-gray-100 p-4 mr-4 rounded-full tracking-wide font-semibold  focus:outline-none focus:shadow-outline hover:bg-amber-800 shadow-lg cursor-pointer transition ease-in duration-300
        transition ease-in-out delay-150 bg-amber-500 hover:-translate-y-1 hover:scale-110 hover:bg-amber-600 duration-300">
        Portal Administrador
        </button>
        <button type="submit"
        class="w-80 flex justify-center bg-amber-500 text-gray-100 p-4 rounded-full tracking-wide font-semibold  focus:outline-none focus:shadow-outline hover:bg-amber-800 shadow-lg cursor-pointer transition ease-in duration-300
        transition ease-in-out delay-150 bg-amber-500 hover:-translate-y-1 hover:scale-110 hover:bg-amber-600 duration-300">
        Portal Negocio
        </button>
      </div>
    </div>
  </div>
