    <!--sidenav -->
  <div class="fixed left-0 top-0 w-64 h-full bg-white z-50 sidebar-menu transition-transform">
      <a class="flex items-center pb-4 mx-4 my-6 ">
        <img src="assets/logo/logo.svg" alt="image-logo" >
      </a>
      <ul class="mt-4" >
          <li class="mb-1 group cursor-pointer" [routerLink]="item.link"   *ngFor="let item of recordKeys">
            <a  >
            <div class="flex">
              <img [src]="item.logo" routerLinkActive="item-link" class="px-4 py-4 justify-center justify-items-center justify-self-center" [alt]="item.title">
              <span class="text-gray-400 font-bold justify-center self-center" routerLinkActive="nav-active">{{item.title}}</span>
            </div>
            </a>
          </li>
      </ul>
  </div>
  <div class="fixed top-0 left-0 w-full h-full bg-black/50 z-40 md:hidden sidebar-overlay"></div>
  <!-- end sidenav -->
