<div
  class="img-background relative min-h-screen flex items-center justify-start bg-gray-50 py-12 px-4 sm:px-6 lg:px-8 bg-gray-500 bg-no-repeat bg-cover relative items-center">
  <div class="absolute custom-gradient inset-0 z-1"></div>
  <div class="max-w-2xl w-full space-y-8 p-10 bg-white rounded-xl z-10">
    <ng-container
  *ngIf="formSubmit; then formSubmitted; else formNotSubmitted">
</ng-container>
  <ng-template #formNotSubmitted>
    <form [formGroup]="recoverForm" class="mt-8 space-y-6" (ngSubmit)="recoverUser()">
        <div class="relative" >
          <h5 class="text-2xl font-bold dark:text-black ">Recuperación de Contraseña</h5>
          <br>
          <p >Ingrese su direccion de correo electronico y te enviaremos un correo <br> electronico con instrucciones para restablecer su contraseña</p>
          <br>
          <div>
            <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Correo electrónico</label>
            <input
              class="w-80 text-base py-2 border-b border-gray-300 focus:outline-none focus:border-indigo-500 border-solid border-2 border-neutral-300 rounded-xl px-2"
              type="" placeholder="Ingrese su correo eletronico"
              formControlName="username_email">
          </div>

        </div>
        <div>
          <button
          [disabled]="!recoverForm.get('username_email')?.valid"
          type="submit"
          class="w-80"
          [ngClass]="{' flex justify-center bg-amber-500 text-gray-100 p-4 rounded-full tracking-wide font-semibold focus:outline-none focus:shadow-outline hover:bg-indigo-600 shadow-lg cursor-pointer transition ease-in duration-300 transition ease-in-out delay-150 bg-amber-500 hover:-translate-y-1 hover:scale-110 hover:bg-amber-600 duration-300': recoverForm.valid === true,  'bg-gray-300 px-4 py-4 rounded-3xl cursor-not-allowed opacity-50 ease-in duration-300 font-semibold focus:outline-none focus:shadow-outline tracking-widee': recoverForm.invalid === true }"

         >
            Enviar
          </button>
        </div>
      </form>
  </ng-template>

  <ng-template #formSubmitted>
    <h5 class="text-2xl font-bold dark:text-black">Se ha solicitado la Recuperación de contraseña</h5>
    <p>Se ha enviado un correo electrónico a su correo electrónico&#64;dominio.com. Verifique si hay un correo electrónico de la empresa y haga clic en el <br> enlace incluido para restablecer su contraseña.</p>
    <div>
      <button
      (click)="comeBack(formSubmit = false)"
      type="submit"
        class="w-40 flex justify-center bg-amber-500 text-gray-100 p-4 rounded-full tracking-wide font-semibold focus:outline-none focus:shadow-outline hover:bg-indigo-600 shadow-lg cursor-pointer transition ease-in duration-300

        transition ease-in-out delay-150 bg-amber-500 hover:-translate-y-1 hover:scale-110 hover:bg-amber-600 duration-300'">
        Volver
      </button>
    </div>
  </ng-template>

    </div>
  </div>
