<div
  class="relative min-h-screen flex items-center justify-start bg-gray-50 py-12 px-4 sm:px-6 lg:px-8 bg-gray-500 bg-no-repeat bg-cover relative items-center"
  style="background-image: url(https://images.unsplash.com/photo-1525302220185-c387a117886e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80);">
  <div class="absolute bg-black opacity-60 inset-0 z-0"></div>
  <div class="max-w-md w-full space-y-8 p-10 bg-white rounded-xl z-10">

    <form [formGroup]="recoverForm" class="mt-8 space-y-6" (ngSubmit)="recoverUser()" >
        <input type="hidden" name="remember" value="true">
        <div class="relative">
          <!-- validated true form email -->
          <!-- <div class="absolute right-4 mt-9 "><svg xmlns="http://www.w3.org/2000/svg"
                          class="h-6 w-6 text-green-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                      </svg>
          </div> -->
          <!-- end -->
          <!-- <h1 class="text-sm font-bold text-gray-700 tracking-wide">Recuperacion de Contraseña</h1> -->
          <h5 class="text-xl font-bold dark:text-black">Recuperacion de Contrasena</h5>
          <br>
          <p>Ingrese su direccion de correo electronico y te enviaremos un correo electronico con instrucciones para restablecer su contraseña</p>
          <br> 
          <label class="text-sm font-bold text-gray-700 tracking-wide">Correo electronico</label>

          <input
            class="w-full text-base py-2 border-b border-gray-300 focus:outline-none focus:border-indigo-500 border-solid border-2 border-neutral-300 rounded-xl px-2"
            type="" placeholder="Ingrese su correo eletronico"
            formControlName="username_email">
        </div>

        <div>
          <button type="submit"
            class="w-full flex justify-center bg-amber-500 text-gray-100 p-4  rounded-full tracking-wide font-semibold  focus:outline-none focus:shadow-outline hover:bg-indigo-600 shadow-lg cursor-pointer transition ease-in duration-300">
            Enviar
          </button>
        </div>
      </form>
    </div>
  </div>
  