<div
  class="img-background relative min-h-screen flex items-center justify-start bg-gray-50 py-12 px-4 sm:px-6 lg:px-8 bg-gray-500 bg-no-repeat bg-cover relative items-center">
  <div class="absolute custom-gradient inset-0 z-1" style="width: 100%"></div>
  <div class="max-w-md w-full space-y-8 p-10 bg-white rounded-xl z-10">
    <img src="assets/logo/logo.svg">
    <form [formGroup]="loginForm" class="mt-8 space-y-6"

    (ngSubmit)="login()" >
      <input type="hidden" formControlName="remember" value="true">
      <div class="relative">
        <label class="text-sm font-bold text-gray-700 tracking-wide">Usuario</label>
        <input
          class="w-full text-base py-2 border-b border-gray-300 focus:outline-none focus:border-indigo-500 border-solid border-2 border-neutral-300 rounded-xl px-2"
          type="" placeholder="Ingrese su usuario"
          formControlName="username_email">
      </div>
      <div class="mt-8 content-center">
        <label class="text-sm font-bold text-gray-700 tracking-wide">
          Contraseña
        </label>
        <input
          class="w-full content-center text-base py-2 border-b border-gray-300 focus:outline-none focus:border-indigo-500 border-solid border-2 border-neutral-300 rounded-xl px-2"
          type="password" placeholder="Ingrese su contraseña"
          formControlName="password">
      </div>
      <div class="flex items-center justify-between">
        <div class="flex items-center">
          <input id="remember_me" name="remember_me" type="checkbox"
            class="h-4 w-4 bg-indigo-500 focus:ring-indigo-400 border-gray-300 rounded">
          <label for="remember_me" class="ml-2 block text-sm text-gray-900">
            Recuerdame
          </label>
        </div>
        <div class="text-sm">
          <a href="#" class="font-medium text-indigo-500 hover:text-indigo-500">
            ¿Ha olvidado su contraseña?
          </a>
        </div>
      </div>
      <div>
        <button type="submit"
          class="w-full flex justify-center bg-amber-500 text-gray-100 p-4 rounded-full tracking-wide font-semibold  focus:outline-none focus:shadow-outline hover:bg-indigo-600 shadow-lg cursor-pointer transition ease-in duration-300">
          Iniciar Sesión
        </button>
      </div>
      <p class="flex flex-col items-center justify-center mt-10 text-center text-md text-gray-500">
        <span>¿No tienes registrado la cuenta?</span>
        <a href="#"
          class="text-indigo-500 hover:text-indigo-500 no-underline hover:underline cursor-pointer transition ease-in duration-300">¡Registrate!</a>
      </p>
    </form>
  </div>
</div>
